#div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 100px;
    margin-left: 300px;
    animation: vibrate 0.3s linear infinite, vibrateColors 2s infinite; /* Apply both animations */
    animation: vibrateColors 1s infinite, vibrate 0.2s linear infinite, scaleUp 0.5s ease-out forwards;

}
.div2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(3px); }
    50% { transform: translateX(-3px); }
    75% { transform: translateX(3px); }
    100% { transform: translateX(0); }
  }

  @keyframes vibrateColors {
    0% {
      border-color: red;
    }
    25% {
      border-color: yellow;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: blue;
    }
    100% {
      border-color: purple;
    }
  }
  
  

#pill{
   height: 80px;
   width: 100px;
     
}
